@import './base.css';

#app {
  font-weight: normal;
  background-color: rgba(116, 63, 63, 0.2); /* #743f3f sa 50% providnosti */
}

a,
.green {
  text-decoration: none;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
}

@media (min-width: 1024px) {
}
